<a href="https://colab.research.google.com/github/otanerifpb/Atividade1ArvoresKNN/blob/main/Atividade1ArvoresKNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Passo 01 - Carregar a base TITANIC do seaborn

In [25]:
from seaborn import load_dataset

df = load_dataset('titanic')

df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

Passo 02 - Observar a relação dos atributos "pclass" com "class"

In [26]:
# Os valores de 'pclass' e 'class', são idênticos, porem um é numérico e outro é categórico, vou eliminar a coluna 'class' por ser categórica
df = df.drop('class', axis = 1)

df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,man,True,NaN,Queenstown,no,True

Passo 03 -  Observar a quantidade de NaN existente no atributo "deck"

In [27]:
import pandas as pd

df = pd.DataFrame(data = df)

coluna = df['deck']
cont_nan = coluna.isna().sum()

# Devido a quantidade alta de NaN na coluna 'deck', será melhor remover a mesma
df = df.drop('deck', axis = 1)

print()
print('Quantidade de Linhas que contem NaN')
print("Total NaN: " + str(cont_nan))
print()
print('df com a coluna deck removida')
df

Quantidade de Linhas que contem NaN
Total NaN: 688

df com a coluna deck removida

,survived,pclass,sex,age,sibsp,parch,fare,embarked,who,adult_male,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,man,True,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,woman,False,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,woman,False,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,woman,False,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,man,True,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,man,True,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,woman,False,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,woman,False,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,man,True,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,man,True,Queenstown,no,True

Passo 04 - Remover as linhas que teham valores NaN

In [28]:
df = df.dropna()

df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,who,adult_male,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,man,True,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,woman,False,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,woman,False,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,woman,False,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,man,True,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
885,0,3,female,39.0,0,5,29.1250,Q,woman,False,Queenstown,no,False
886,0,2,male,27.0,0,0,13.0000,S,man,True,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,woman,False,Southampton,yes,True
889,1,1,male,26.0,0,0,30.0000,C,man,True,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,man,True,Queenstown,no,True

Passo 05 - Transformar todos os atributos categóricos usando One-Hot Encoder

In [29]:
from sklearn import preprocessing
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import OneHotEncoder

one_hot_encoder = make_column_transformer((OneHotEncoder(), ['sex','embarked','who', 'embark_town','alive', 'alone']), remainder='passthrough')

df = one_hot_encoder.fit_transform(df)
df = pd.DataFrame(data = df)

df

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0,3,22.0,1,0,7.25,True
1,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,1.0,1.0,0.0,1,1,38.0,1,0,71.2833,False
2,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,1.0,1,3,26.0,0,0,7.925,False
3,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,1.0,1.0,0.0,1,1,35.0,1,0,53.1,False
4,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0,3,35.0,0,0,8.05,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
707,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,1.0,0.0,0,3,39.0,0,5,29.125,False
708,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0,2,27.0,0,0,13.0,True
709,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,1.0,1,1,19.0,0,0,30.0,False
710,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,1.0,0.0,1.0,1,1,26.0,0,0,30.0,True
711,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0,3,32.0,0,0,7.75,True